body{
    min-height: 100vh;
    background:url(../mifondo/imgFondo.png) no-repeat
    center center fixed;
    background-size: cover;
}

/*ESTILOS PARA LA PAG DE FER */
.name{
    position: relative;
    top: 69px;
}

/**/

.sanSalvador{
    
    width: 100%;
    height: 100%;
}



.principalDiv{
    margin-top: 40px;
    margin-bottom:50px ;
    padding-top: 0px;
    height: 550px;
    position: relative;
    top: 40px;
}

@media(max-width:500px){
    
    
    .sanSalvador{
        position: relative;
        left: -64px;
        width: 250px;
        height: 400px;
    }
}
@media(min-width:501px){
   

    .caja{
        height: 200px;
    }
    
    .sanSalvador{
       position: relative;
       left: -40px;
       width: 250px;
       height: 400px;
    }
}

@media(min-width:633px){
    

    .caja{
        height: 200px;
    }
    
    .sanSalvador{
       position: relative;
       left: 0px;
        width: 250px;
        height: 400px;
    }
}

@media(min-width:753px){
    

    .caja{
        height: 200px;
    }
    
    .sanSalvador{
       position: relative;
       left: 0px;
       width: 250px;
       height: 400px;
    }
}
@media(min-width:900px){
    

    .caja{
        height: 200px;
    }
    
    .sanSalvador{
       position: relative;
       left: 8px;
       width: 250px;
       height: 400px;
    }
}

@media(min-width:1024px){
    .caja{
        height: 200px;
    }
    
    .sanSalvador{
       position: relative;
       left: 55px;
       width: 250px;
       height: 400px;
    }
}

@media(min-width:1224px){
    

    .caja{
        height: 200px;
    }
    
    .sanSalvador{
       position: relative;
       left: 70px;
        width: 250px;
        height: 400px;
    }
}

@media(min-width:1354px){
    

    .caja{
        height: 200px;
    }
    
    .sanSalvador{
       position: relative;
       left: 95px;
        width: 250px;
        height: 400px;
    }
}